<!-- Dependent Element  -->
<div class="row dependent">
    <div class="col-sm-4 " style="text-align:right">Dependent: </div>
    <div class="col-sm-8 border">
        <div class="row">
            <div class="col-sm-8" style="text-align:right">Benefits Cost:</div>
            <div class="col-sm-4">Annual</div>
        </div>
        <div class="row">
            <div class="col-sm-4" >{{firstName}}</div>
            <div class="col-sm-4" >{{lastName}}</div>
            <div class="col-sm-4" >{{personalBenefitsCost}}</div>
        </div>
    </div>
</div>
<!-- End Dependent Element  -->
